
* {
  color: var(--text-white);
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--blue-main-grad-dark-low);
}

.mountain_img {
  position: relative;
  background-image: url('../img/mountain.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.mountain_link {
  position: absolute;
  z-index: 499;
  left: 40%;
  top: 70%;
  color: black;
}

.codeclimb_header {
  height: 3rem;
  background-color: var(--blue-main-grad-dark-high);
}

.profile_side_panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  background-color: var(--blue-main-grad-mid-low);
}

.profile_side_panel_list {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
}

.profile_side_panel_list ul {
  width: 100%;
}

.list_selected {
  background-color: var(--blue-main-grad-mid-high);
}

.prof_li {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  height: 3rem;
  font-size: 16pt;
}

.panel_avatar {
  display: flex;
  width: 100%;
  padding-top: 8rem;
  justify-content: center;
  margin-bottom: 4rem;
  background-image: url('../img/font-awesome-svg/SVG/user.svg');
  background-size: auto 4rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.profile_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.list_button {
  width: 100%;
}

.half_comp {
  text-align: center;
  width: 50%;
}

.full_comp {
  display: flex;
  width: 100%;

}

.inner_full {
  width: 100%;
  text-align: center;
}

.avatar {

}

.profile_content {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

#climbs_updatable {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.full_content {
  display: flex;
  width: 100%;
  height:100%;
}

@media (max-width: 700px) {

  .full_comp {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .profile_side_panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 45%;
    background-color: var(--blue-main-grad-mid-low);
    z-index: 500;
  }

  .mountain_link {
    position: absolute;
    z-index: 499;
    left: 28%;
    top: 70%;
    color: black;
  }



}
