
.header {
  display: flex;

}

html, body {
  width: 100%;
  height: 100%;
}

* {
  color: var(--text-white);
}

.file_input_title {
  font-family: monospace;
}

.close_file {
  background-image: url('../img/font-awesome-svg/SVG/close_file.svg');
  background-repeat: no-repeat;
  background-size: 0.65rem;
  height: 1rem;
  width: 1.15rem;
  background-position: 0 50%;

}

.cancel_file_btn {
  background-color: var(--red-mid);
  border:none;
  border-radius: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 1.85rem;
  margin-left: 1rem;
  margin-right: 1rem
}

.add_file_btn {
  background-color: var(--green-light);
  border:none;
  border-radius: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 1.85rem;
}

.input_path {
   flex: 1;
   height: 2rem;
   background-color: var(--blue-main-grad-dark-high);
   margin-left: 1rem;
   margin-right: 1rem;
   padding-left: 1rem;
   border: none;
   border-radius: 3px;

}

.add_file {
  background-color: var(--blue-main-grad-mid-low);
  display:flex;
  position: absolute;
  height: 5rem;
  top: 4.9rem;
  left: 15%;
  width: 60%;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.codeclimb_editor {
  display: flex;
  height: calc(100% - 3rem);
  width: 100%;
  background-color: var(--blue-main-grad-dark-low);
}

.editor_first_section {
  display: flex;
  background-color: var(--blue-main-grad-mid-low);
  width: 15%;
  height: 100%;
  flex-direction: column;
}

.editor_middle_section {
  display: flex;
  background-color: var(--blue-main-grad-dark-low);
  width: 60%;
  height: 100%;
  flex-direction: column;
}

.editor_end_section {
  display: flex;
  background-color: var(--blue-main-grad-mid-low);
  width: 25%;
  height: 100%;
}

.current_files_navigation {
  display: flex;
  background-color: var(--blue-main-grad-mid-low);
  width: 100%;
  height: 2rem;
  overflow-x: hidden;
}

.code_challenge_segment {
  width: 100%;
  height: calc(100% - 5rem);
}

.code_challenge_heading {
  height: 3em;
  width: 100%;
  background-color: var(--blue-main-grad-light);
}

.challenge_content {
  background-color: var(--blue-main-grad-mid-high);
  width: 100%;
  height: calc(100% - 7em);
}

.challenge_mark_button {
  position: relative;
  display: flex;
  background-color: var(--blue-main-grad-mid-low);
  width: 100%;
  height: 5em;
  align-items: center;
  justify-content: center;
}

.file_viewer {
  padding-top: 2rem;
  padding-left: 1rem;
  width: calc(100%-1rem);
  height: calc(100% - 4rem);
}

.file_buttons {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;
}

.file_segment {
  display: flex;
  width:100%;
}

.file {
  display: flex;
  flex-direction: column;
}

.file_icon {
  background-image: url('../img/font-awesome-svg/SVG/file-text.svg');
  width: 1rem;
  flex: 0;
  padding-right: 2rem;
  background-repeat: no-repeat;
  background-position: 0 2px;
}

.folder_icon {
  background-image: url('../img/font-awesome-svg/SVG/folder.svg');
}

.folder_icon_open {
  background-image: url('../img/font-awesome-svg/SVG/folder-open.svg');
}

.file_name {
  font-family: monospace;
  width: 100%;
  min-height: 1.75rem;
}

.action_button {
  display: flex;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.add_button {
  background-image: url('../img/font-awesome-svg/SVG/plus.svg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 2rem;
  height: 3rem;
}

.undo_button {
  background-image: url('../img/font-awesome-svg/SVG/rotate-left.svg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 2rem;
  height: 3rem;
}

.redo_button {
  background-image: url('../img/font-awesome-svg/SVG/repeat.svg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 2rem;
  height: 3rem;
}

.parse_button {
  background-image: url('../img/font-awesome-svg/SVG/check.svg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2.5rem;
}

.folder {

}

.child_files {
  position: relative;
  padding-left: 1rem;
  width: 100%;
}

.child_files::before {
  display:block;
  position: absolute;
  content:"";
  left:4px;
  top: 2px;
  width: 1px;
  height: calc(100% - 14px);
  background-color: white;
}

.line_count {
  width: 3rem;
  height: 100%;
}

.editor {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.text_editor {
  /* position: absolute; */
  resize: none;
  background-color: var(--blue-main-grad-dark-low);
  width: calc(100% - 3rem);
  height: 100%;
  max-height: 100%;
  border: none;
  opacity: 1;
  /* left: 3rem; */
  z-index: 2;
  white-space: pre-wrap;
  overflow-y: auto;
  font-family: monospace;
}

.text_highlighter {
  position: relative;
  background-color: var(--blue-main-grad-dark-low);
  width: calc(100% - 3rem);
  height: 100%;
  border: none;
  z-index: 0;
}

.text_highlighter code {
  padding: 0;
}

.code_challenge_heading {
  font-size: 16pt;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.challenge_content {
  padding-top: 1em;
  height: calc(100% - 5rem);
}

.c_content_style {
  padding-left: 1em;
}

.line_number {
  padding-left: 0.25rem;
  font-family: monospace;
}

.file_in_nav {
  position: relative;
  background-color: var(--blue-main-grad-mid-high);
  width: 15%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex: 0 0 auto;
  left: 0;
}

.file_name_in_nav {
  font-family: monospace;
  width: 100%;
  text-align: center;
}

.file_in_nav_infocus {
  background-color: var(--blue-main-grad-light);
}

.display_no_result {
  display: none;
}

.display_result {
  display: flex;
}

.marking_output {
  width: 100%;
  height: calc(100% - 6rem);
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

.marking_output_segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--blue-main-grad-light);
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.feedback_box {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 90%;
  height: 3rem;
}

.outcome_box {
  display: flex;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 80%;
  background-color: var(--red-mid);
  height: 100%;
  align-items: center;
  padding-left: 1rem;
}

.result_incorrect {
  background-image: url('../img/font-awesome-svg/SVG/close.svg');
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 20%;
  background-color: var(--red-light);
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1.5rem;
}

.result_correct {
  background-image: url('../img/font-awesome-svg/SVG/check_green.svg');
  background-color: var(--green-light);
}

.outcome_correct {
  background-color: var(--green-mid);
}

.word_pos {
  position: relative;
  font-size: 8pt;
  font-family: monospace;
  left: 1em;
  top: 1.5em;
  text-shadow: -2px 2px 2px #000000;
  color: var(--blue-mid-alt);
}

.feedback_title {
  padding-bottom: 1rem;
}
