

* {
  color: var(--text-white);
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--blue-main-grad-dark-low);
}

.return_component {
  flex:1;
}

#main_header .return_component {
  background-image: none;
}

#main_header .profile_ico {
  background-image: url('../img/font-awesome-svg/SVG/user_midgreen.svg');
}

#main_header .challenges_ico {
  background-image: url('../img/font-awesome-svg/SVG/pencil_midgreen.svg');
}

.codeclimb_heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
}

#header_text {
  color: var(--text-white);
  font-size: 16pt;
}

.header_codeclimb {
  width: 100%;
  background-image: url('img/codeclimb_home_logo.svg');
}

.codeclimb_frag {
  background-image: url('../img/mback.jpg');
  background-size: cover;
  width: 100%;
  background-color: var(--text-white);
  height: 40em;
}

.ad_img {
  width: 100%;
  max-width: 300px;
}

.topnav {
  float: right;
}

.codeclimb_home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.ad_segment {
  display: flex;
  flex: 1;
  flex-direction: column;

}

.ad_align_segment {
  width: 40%;
}

.ad_align_segment_right {
  text-align: right;
  width: 40%;
}

.codeclimb_trial {
  margin-top: 4em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.ad_segment {
  width: 100%;
  padding: 0;

}

.p_segment {
  margin-bottom: 1em;
}

.ad_segment {
  margin: 1em;
  margin-left: 0;
  margin-right: 0;
}

.codeclimb_button {
  display: inline-block;
  margin: 1em;
}

.ad_segment_right_aligned {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 5%;
  margin-left: 5%;
}

@media(max-width: 700px) {

  .ad_img {
    display: none;
    width: 100%;
    max-width: 300px;
  }

  .ad_align_segment {
    width: 100%;
  }

  .ad_align_segment_right {
    text-align: center;
    width: 100%;
  }

  .ad_segment_right_aligned {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
    flex-direction: column-reverse;
  }

  .ad_segment_left_aligned {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column
  }

  .codeclimb_trial {
    margin-top: 4em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.ad_segment_left_aligned {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  margin-left: 5%;
  margin-right: 5%;
}

.paragraph_segment {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.editor_image {

}

.quiz_selection_image {

}

.solution_verify_image {

}
