

:root {
  --red-light: #f77e75;
  --red-mid: #f44336;
  --red-dark: #d2382d;
  --yellow-mid: #fbc02d;
  --yellow-dark: #b78b20;
  --green-light: #4ffc6d;
  --green-mid: #44db5e;
  --green-dark: #299f3e;
  --blue-light: #c9f1fd;
  --blue-mid: #00a2e5;
  --blue-mid-alt: #00a4d3;
  --blue-main-grad-light: #006e8c;
  --blue-main-grad-mid-high: #004e63;
  --blue-main-grad-mid-low: #003748;
  --blue-main-grad-dark-high: #1b2939;
  --blue-main-grad-dark-low: #001022;
  --text-white: #ffffff;
  --text-black: #000000;
  --gray-mid-unselected: #d6d6d6;
}

a {
  text-decoration: none;
}

.cc_header_pos {
  display: flex;
  width: 100%;
}

.cc_header_pos li {
  list-style: none;
}

.link_max {
  display:flex;
  width:2.5rem;
  height:100%;
}

.mid_link {
  display: flex;
  width: 33%;
  justify-content: center;
  align-items: center;
}

.end_link {
  display: flex;
  width: 33%;
  justify-content: flex-end;
  align-items: center;
}

.paragraph_segment {
  padding-bottom: 1em;
}

#main_header {
  background-color: transparent;
  position: absolute;
}

.return_component {
  background-image: url('../img/font-awesome-svg/SVG/arrow-left.svg');
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  background-position: 0.5rem 40%;
  width: 33%;
}

.return_component_mobile {
  display: none;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  background-position: 0.5rem 50%;
  background-image: url('../img/font-awesome-svg/SVG/burger_menu.svg');
  width: 33%;
}

@media(max-width: 700px) {

  .return_component_mobile {
    display: flex;
  }

  .return_component {
    display: none;
    background-position: 0.5rem 50%;
    background-image: url('../img/font-awesome-svg/SVG/burger_menu.svg');
   }
}

.codeclimb_header {
  height: 3rem;
  background-color: var(--blue-main-grad-light);
  display: flex;
  width: 100%;
}

h1 {
  font-size: 28pt;
  font-weight: lighter;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.navi_right * {
  display: inline-flex;
  color: black;
  padding-left: 0.5em;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.challenges_ico {
  background-image: url('../img/font-awesome-svg/SVG/pencil.svg');
  background-size: auto 2rem;
  background-repeat: no-repeat;
  background-position: 0rem 40%;
  width: 2rem;
  height: 3rem;
}

.navi_right_comp {
  height: 3rem;
  width: 3rem;
}

.profile_ico {
  background-image: url('../img/font-awesome-svg/SVG/user.svg');
  background-size: auto 2rem;
  background-repeat: no-repeat;
  background-position: 0rem 40%;
  width: 2rem;
  height: 3rem;
}

.preformat {
  font-family: 'Roboto Mono', monospace;
}

.button_success {
  cursor: pointer;
  background-color: var(--green-light);
  color: var(--text-white);
  border: none;
  border-radius: 5px;
  height: 4rem;
  width: 16rem;
  font-size: 18pt;
}

.button_unselect {
  background-color: var(--gray-mid-unselected);
  color: var(--text-white);
  border: none;
  border-radius: 5px;
  height: 4rem;
  width: 16rem;
  font-size: 18pt;
}

.button_confirm {
  background-color: var(--yellow-mid);
  color: var(--text-white);
  border: none;
  border-radius: 5px;
  height: 4rem;
  width: 16rem;
  font-size: 18pt;
}


.codeclimb_footer {
  width: 100%;
}

.codeclimb_footer_logo {
  background-image: url('img/codeclimb_small.svg');
  display: inline;
}

.codeclimb_footer_links {

}

.codeclimb_footer_links li {
  display: inline;
  padding-left: 1em;
}

.navi_right {
  justify-content: flex-end;
}

.navi_right ul {
  list-style: none;
}

.navi_right li {
  list-style: none;
}

.codeclimb_heading {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.codeclimb_footer {
  width: 100%;
  height: 4em;
  background-color: var(--blue-main-grad-dark-high);
  display: flex;
  align-items: center;
}

.codeclimb_footer li {
  list-style: none;
}
