
* {
  color: var(--text-white);
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--blue-main-grad-dark-low);
}

.codeclimb_header {
  height: 3rem;
  background-color: var(--blue-main-grad-dark-high);
}

.profile_side_panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  background-color: var(--blue-main-grad-mid-low);
}

.profile_heading {
  position: relative;
  font-size: 16pt;
}

.profile_header::after {
  display: block;
  position: absolute;
  width: 50%;
  height: 1px;
  content:'';
  border-bottom-width: thin;
  border-bottom-color: var(--text-white);
  border-bottom-style: solid;
}

.profile_side_panel_list {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
}

.profile_side_panel_list ul {
  width: 100%;
}

.list_selected {
  background-color: var(--blue-main-grad-mid-high);
}

.full_content {
  display: flex;
  width: 100%;
  height:100%;
}

.prof_li {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  height: 3rem;
  font-size: 16pt;
}

.panel_avatar {
  display: flex;
  width: 100%;
  padding-top: 8rem;
  justify-content: center;
  margin-bottom: 1rem;
  background-image: url('../img/font-awesome-svg/SVG/user.svg');
  background-size: auto 4rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.username {
  margin-bottom: 3rem;
}

.profile_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 3rem);
}

.list_button {
  width: 100%;
}

.half_comp {
  text-align: center;
  width: 50%;
  padding-bottom: 2rem;
}

.full_comp {
  display: flex;
  width: 100%;

}

.inner_full {
  width: 100%;
  text-align: center;
}

.avatar {

}


.profile_content {
  width: 80%;
}

#profile_updatable {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@media (max-width: 700px) {

  .full_comp {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .profile_side_panel {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100%);
    width: 45%;
    background-color: var(--blue-main-grad-mid-low);
  }
}
