
* {
  color: var(--text-white);
}

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--blue-main-grad-mid-low);
}

#progress {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100%);
}

.main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 3rem);
}

.progress_container {
  display: flex;
  width: 100%;
  height: 100%;
}

.side_panel_tasks {
  width: 30%;
  height: 100%;
  background-color: var(--blue-main-grad-dark-high);
}

.task_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.progress_topic_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--blue-main-grad-mid-high);
  height: 3rem;
  width:100%;
  margin-bottom: 3rem;
}

.progress_task_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-main-grad-mid-high);
  height: 3rem;
  width:100%;
}

.t_segments {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.task_ico {
  background-image: url('../img/font-awesome-svg/SVG/circle-o.svg');
  width: 20%;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 0 55%;
  height: 2rem;

}


.sub_task_ico {
  background-image: url('../img/font-awesome-svg/SVG/circle.svg');
  background-size: 0.5rem;
}

.task_focus_ico {
  background-image: url('../img/font-awesome-svg/SVG/dot-circle-o.svg');
}


.task_complete_ico {
  background-image: url('../img/font-awesome-svg/SVG/star.svg');
}

.task_title_focus {
  color: var(--yellow-light);
}

.task_title_complete {
  color: var(--green-light);
}

.task_name {
  width: 80%;
}

.content {
  color: var(--text-white);
  width: 80%;
  overflow-y: auto;
  height: calc(100% - 3rem);
}

.task_segment {
  padding-top: 0.5rem;
  padding-left: 1rem;
  align-items: center;
  display: flex;
  width: 100%;
  min-height: 3rem;
  flex-direction: column;
  flex: 1;
}

.t_wrapper {
  padding-top: 0.5rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex: 1;
}

.task_title {
  display: flex;
  align-items: center;
  width: 80%;
}

.side_panel_tasks_mobile {
  display: none;
}

@media(max-width: 700px) {
  .side_panel_tasks {
    display: none;
  }

  .side_panel_tasks_mobile {
    display: flex;
    flex-direction: column;
    top: 3rem;
    background-color: var(--blue-main-grad-dark-high);
    width: 45%;
    left: -45%;
    height: calc(100% - 3rem);
    position: absolute;
    display: flex;
    z-index: 500;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .progress_topic_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--blue-main-grad-dark-high);
    height: 3rem;
    width:100%;
    margin-bottom: 3rem;
  }

  .task_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .t_wrapper {
    padding: 0;

  }

  .task_segment {
    padding-top: 0.5rem;
    padding-left: 1rem;
    align-items: center;
    display: flex;
    width: 100%;
    min-height: 3rem;
    flex-direction: column;
    flex: 0 0 auto;
  }
}
