

* {
  color: var(--text-white);
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--blue-main-grad-mid-low);
}

.codeclimb_header {
  height: 3rem;
  background-color: var(--blue-main-grad-light);
  display: flex;
  width: 100%;
}

#quiz {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.letter_confirm {
  background-color: var(--yellow-mid) !important;
}

.number_counter {
  color: var(--text-white);
}

.quiz_container {
  width: 100%;
  height: 100%;
  display: flex;
}

.quiz_question_mobile {
  display: none;
}


.quiz_question {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex: 1;
}

.answer_ul {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 8rem);
}

.answer_li {
  display:flex;
  list-style: none;
  background-color: var(--text-white);
  margin-top: 1em;
  margin-bottom: 1em;
  width: 90%;
  height: 4rem;
  border-radius: 3px;
}

.answer_li div {
  color: var(--text-black);
}

.answer_li_text {
  display: flex;
  align-items: center;
  width: 90%;
  flex: 1;
  padding-left: 1rem;
}

.answer_li_letter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  background-color: var(--gray-mid-unselected);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.question_number {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 16pt;
  justify-content: center;
}

.question_text {
  display: flex;
  color: var(--text-black);
  height: 15%;
  justify-content: center;
}

.question_paragraph {
  background-color: var(--text-white);
  width: 80%;
  border-radius: 5px;
  color: var(--text-black);
  font-size: 16pt;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  text-align: center;

}

.quiz_button_position {
  display: flex;
  justify-content: center;
}

.answer_select_container {
  width: 30%;
  background-color: var(--blue-main-grad-mid-high);
}

.quiz_selectable {

}

.quiz_answer_identifier_unselected {
  color: black;
  background-color: var(--gray-mid-unselected);
}

.quiz_answer_identifier_selected {
  color: black;
  background-color: var(--yellow-mid);
}

.quiz_answer_identifier_correct {
  color: black;
  background-color: var(--green-light);
}

.quiz_answer_identifier_incorrect {
  color: black;
  background-color: var(--red-light);
}

.explanation_comp {
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}

.quiz_explanation {
  display: flex;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-main-grad-light);
}

.quiz_explanation_mobile {
  display:none;
  visibility: hidden;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
}


@media (max-width: 700px) {

  .mob_visibility {
    visibility: visible;
  }


  .quiz_explanation_mobile {
    display: flex;
  }

  .quiz_explanation {
    display: none !important;
  }

  .quiz_question {
    display: none !important;
  }

  .quiz_question_mobile {
    display: flex;
    flex-direction: column;
  }

  .answer_select_container {
    width: 100% !important;
  }

  .answer_ul {
    height: calc(100% - 28rem) !important;
  }
}

.next_button {
  background-color: var(--green-light) !important;
}

.letter_correct {
  background-color: var(--green-light) !important;
}

.letter_incorrect {
  background-color: var(--red-light) !important;
}

.marking_output {

}

.feedback_box {
  display:flex;
  width: 100%;
  height: 3rem;
}

.results_component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.results_component h1 {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 28pt;
}

.results_component * {
  font-size: 16pt;
}
