

html, body {
  background-color: var(--blue-main-grad-dark-low);
  color: var(--text-white);
  width: 100%;
  height: 100%;
}

.codeclimb_header {
  height: 3rem;
  background-color: var(--blue-main-grad-dark-high);
}

.signup_body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 7rem);
}


.get_started {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.get_started * {
  width: 50%;
}


.signup_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-left: solid;
  border-color: var(--blue-main-grad-dark-high);
  border-width: thin;
}

.signup_form {

  display: flex;
  flex-direction: column;
}

.signup_form input {
}

.tos_checkbox {
  margin-right: 0.5rem;
}

.form_text_input {
  margin-top: 1.25em;
}

.btn_smaller {
  margin-top: 1em;
  font-size: 12pt;
  width: 10em;
  height: 3em;
}

.tos_box {
  margin-top: 1.25em;
  display: flex;
}

@media (max-width: 700px) {
  .get_started {
    display: none;
  }

  .signup_form_container {
    width: 100%;
    border-left: none;
  }
}
