<html>
<head>
  <title>Codeclimb - Editor</title>
  <meta charset="utf-8">
  <link rel="Stylesheet" type="text/css" href="css/main.css">
  <link rel="Stylesheet" type="text/css" href="css/editor.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <section class="codeclimb_header">
    <nav class='cc_header_pos'>
      <div class="return_component_mobile" v-on:click="togglePanel">
      </div>
      <div class="return_component">
        <a href="progress.html" class='link_max'>
        </a>
      </div>
      <div class="mid_link">
        <a href="/">CodeClimb</a>
      </div>
      <div class="end_link">
        <li class="navi_right_comp">
          <a href="climbs.html">
            <div class="challenges_ico"></div>
          </a>
        </li>
        <li class="navi_right_comp">
          <a href="profile.html">
            <div class="profile_ico"></div>
          </a>
        </li>
      </div>
    </nav>
    </nav>
  </section>
  <div class="codeclimb_editor" id="cc_editor">
    <div class="editor_first_section">
      <section class='file_viewer'>
        <div class="file" v-for="f in files" >
          <div class="file_segment" v-on:click="openFile" v-if="!f.isFolder">
            <div class="file_icon" v-bind:data-findex="f.index" v-bind:data-fparent="f.parent"></div>
            <div class="file_name" v-bind:data-findex="f.index" v-bind:data-fparent="f.parent">{{ f.name }}</div>
          </div>
          <div class="file_segment" v-on:click="toggleFolder" v-if="f.isFolder">
            <div class="file_icon" v-bind:data-findex="f.index" v-bind:data-fparent="f.parent"
            v-bind:class="{ folder_icon: f.isFolder, folder_icon_open: !f.collapsed }"></div>
            <div class="file_name" v-bind:data-findex="f.index" v-bind:data-fparent="f.parent">{{ f.name }}</div>
          </div>
          <div class="child_files" v-if="f.isFolder && !f.collapsed">
            <div class="file" v-for="c in f.childFiles">
              <div class="file_segment" v-on:click="openFile" v-bind:data-findex="f.index">
                <div class="file_icon"></div>
                <div class="file_name">{{ c.name }}</div>
              </div>
              <div class="child_files">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="file_buttons">
        <div class="action_button" v-on:click="addFile"><div class="add_button"><div class="word_pos">Add</div></div></div>
        <div class="action_button" v-on:click="undo"><div class="undo_button"><div  class="word_pos">Undo</div></div></div>
        <div class="action_button" v-on:click="redo"><div class="redo_button"><div  class="word_pos">Redo</div></div></div>
        <div class="action_button" v-on:click="parse"><div class="parse_button"><div  class="word_pos">Parse</div></div></div>
      </section>
    </div>
    <div class="editor_middle_section">
      <nav class="current_files_navigation">
        <div class="file_in_nav" v-for="f in openFiles">
          <div class="close_file_in_nav"></div>
          <div class="file_name_in_nav">{{ f.name }}</div>
          <div class="close_file" v-on:click="closeFile" v-bind:data-index="f.index" v-bind:data-oindex="f.openFileIndex"></div>
        </div>
      </nav>
      <section class="add_file" v-if="addFileData.dialogOpen">
        <div class="file_input_title">File Name</div>
        <input class="input_path" type="text" placeholder="path/to/file" v-model="addFileData.path"></input>
        <button class="add_file_btn" v-on:click="addConfirmFile">
          Add
        </button>
        <button class="cancel_file_btn" v-on:click="cancelFile">
          Cancel
        </button>
      </section>
      <section class="editor">
        <section class="code_editor"></section>
        <!--<section class="chat_messages"></section>-->
          <div class="line_count">
            <div class="line_number" v-for="l in editorContext.lines+1">{{ l }}</div>
          </div>
          <!--<pre class="text_highlighter">
            <code class="javascript">
              function main() {
                console.log("Hello World!");
              }
            </code>
          </pre>-->
          <textarea class="text_editor" v-on:keypress="detectNewLine" v-model="editorContext.content"></textarea>
      </section>
      <!-- Will revisit writing my own text editor -->
      <!--<section class="commandline">
      </section>
      <section class="chatbox">
      </section>-->
    </div>

    <div class="editor_end_section">
      <section class="code_challenge_segment">
        <h1 class="code_challenge_heading">{{ challenge.heading }}</h1>
        <section class="challenge_content">
          <div class="c_content_style">
            <p v-for="c in challenge.body" class="paragraph_segment">
              {{ c }}
            </p>
          </div>
          <section class="marking_output" v-bind:class="{ display_result: marker.attemptMade, display_no_result: !marker.attemptMade }">
            <section class="marking_output_segment">
              <section class="feedback_title" >Feedback</section>
              <div v-for="m in testRun" class="feedback_box">
                <div class="outcome_box" v-bind:class="{ outcome_correct: m.passed }">{{ m.name }}</div>
                <div class="result_incorrect" v-bind:class="{ result_correct: m.passed }"></div>
              </div>
          </section>
          </section>
        </section>
        <section class="challenge_mark_button">
          <button v-if="!completed" class="button_success" v-on:click=markSolution>Mark Solution</button>
          <a v-if="completed" href="progress.html"><button class="button_success" v-on:click=markSolution>Next!</button></a>
        </section>
      </section>
    </div>
  </div>
  <!--<script>hljs.initHighlightingOnLoad();</script>-->
  <script src="js/editor.js"></script>
</body>
</html>
