<html>
<head>
  <title>Code Climb - Home</title>
  <meta charset="utf-8">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <link href="css/profile.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=0.7 user-scalable=0;">
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <section id="profile_updatable">
    <section class="codeclimb_header">
      <nav class='cc_header_pos'>
        <div class="return_component_mobile" v-on:click="togglePanel">
        </div>
        <div class="return_component">
          <a href="climbs.html" class='link_max'>
          </a>
        </div>
        <div class="mid_link">
          <a href="/">CodeClimb</a>
        </div>
        <div class="end_link">
          <li class="navi_right_comp">
            <a href="climbs.html">
              <div class="challenges_ico"></div>
            </a>
          </li>
          <li class="navi_right_comp">
            <a href="profile.html">
              <div class="profile_ico"></div>
            </a>
          </li>
        </div>
      </nav>
    </section>
      <section class="full_content">
        <section class="profile_side_panel" id="side_planel_id">
          <div class='panel_avatar'>
            <div class="avatar"></div>
          </div>
          <ul class="profile_side_panel_list">
            <div class="list_button"><a href="profile.html"><li class="list_selected prof_li">Profile</li></a></div>
            <div class="list_button"><a href="climbs.html"><li class="prof_li">Climbs</li></a></div>
          </ul>
        </section>
        <section class="profile_content">
          <!-- TODO, What do you we put here? -->
          <section class="full_comp">
            <div class="inner_full">
              <div class="panel_avatar"></div>
              <div class="username">{{ username }}</div>
            </div>
          </section>
          <section class="full_comp">
            <section class="half_comp">
              <div class="profile_heading">
                Time Spent
              </div>
              <div>{{ timespent }}</div>
            </section>
            <section class="half_comp">
              <div class="profile_heading">Climbs</div>
              <div v-if="climbs.length === 0">{{ "No Climbs yet" }}</div>
              <div v-for="c in climbs">{{ c.name }}</div>
            </section>
          </section>
          <section class="full_comp">
            <section class="half_comp">
              <div class="profile_heading">Total Progress</div>
              <div>{{ progress }}</div>
            </section>
            <section class="half_comp">
              <div class="profile_heading">Badges</div>
              <div v-if="badges.length === 0">{{ "No Badges yet" }}</div>
              <div v-for="b in badges">{{ b.name }}</div>
            </section>
          </section>
        </section>
      </section>
    </section>
  <script src="js/profile.js"></script>
</body>
</html>
