<html>
<head>
  <title>Code Climb - Home</title>
  <meta charset="utf-8">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <link href="css/progress.css" rel="stylesheet" type="text/css">
  <script src="https://unpkg.com/vue"></script>
  <meta name="viewport" content="width=device-width, initial-scale=0.7 user-scalable=0;">
</head>
<body>
  <section id="progress">
  <section class="codeclimb_header">
    <nav class='cc_header_pos'>
      <div class="return_component_mobile" v-on:click="togglePanel">
      </div>
      <div class="return_component">
        <a href="climbs.html" class='link_max'>
        </a>
      </div>
      <div class="mid_link">
        <a href="/">CodeClimb</a>
      </div>
      <div class="end_link">
        <li class="navi_right_comp">
          <a href="climbs.html">
            <div class="challenges_ico"></div>
          </a>
        </li>
        <li class="navi_right_comp">
          <a href="profile.html">
            <div class="profile_ico"></div>
          </a>
        </li>
      </div>
    </nav>
  </section>
  <section class="main_container">
    <div class="progress_container">
      <section class="side_panel_tasks_mobile" id="side_planel_mobile">
        <section class="progress_topic_heading">
          <div>{{ component.title }}</div>
          <div>{{ component.sub }}</div>
        </section>
        <div class="task_segment"  v-for="t in topics" v-bind:class="{ codeclimb_completed : t.isCompleted, codeclimb_focus: t.hasFocus }" v-on:click="toggleTopic">
          <div class="t_wrapper">
            <div class="task_ico" v-bind:data-index="t.index" v-bind:class="{ task_focus_ico: t.hasFocus, task_complete_ico: t.isCompleted }">
            </div>
            <div class="task_title" v-bind:data-index="t.index" v-bind:class="{ task_title_focus: t.hasFocus, task_title_complete: t.isCompleted }">
              {{ t.name }}
            </div>
          </div>
          <ul v-if="!t.collapsed">
            <li class="t_segments" v-for="e in t.tasks">
              <div class="t_wrapper" v-bind:data-parent="e.parent" v-bind:data-index="e.index">
                <div class="task_ico sub_task_ico" v-bind:data-parent="e.parent" v-bind:data-index="e.index">
                </div>
                <div class="task_title" v-if="e.type !== 'reading'">
                  <a v-bind:href="e.url">
                  {{ e.name }}
                  </a>
                </div>
                <div v-on:click="openReading" class="task_title" v-if="e.type == 'reading'" v-bind:data-parent="e.parent" v-bind:data-index="e.index">
                  {{ e.name }}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="side_panel_tasks">
        <section class="progress_topic_heading">
          <div>{{ component.title }}</div>
          <div>{{ component.sub }}</div>
        </section>
        <div class="task_segment"  v-for="t in topics" v-bind:class="{ codeclimb_completed : t.isCompleted, codeclimb_focus: t.hasFocus }" v-on:click="toggleTopic">
          <div class="t_wrapper">
            <div class="task_ico" v-bind:data-index="t.index" v-bind:class="{ task_focus_ico: t.hasFocus, task_complete_ico: t.isCompleted }">
            </div>
            <div class="task_title" v-bind:data-index="t.index" v-bind:class="{ task_title_focus: t.hasFocus, task_title_complete: t.isCompleted }">
              {{ t.name }}
            </div>
          </div>
          <ul v-if="!t.collapsed">
            <li class="t_segments" v-for="e in t.tasks">
              <div class="t_wrapper" v-bind:data-parent="e.parent" v-bind:data-index="e.index">
                <div class="task_ico sub_task_ico" v-bind:data-parent="e.parent" v-bind:data-index="e.index">
                </div>
                <div class="task_title" v-if="e.type !== 'reading'">
                  <a v-bind:href="e.url">
                  {{ e.name }}
                  </a>
                </div>
                <div v-on:click="openReading" class="task_title" v-if="e.type == 'reading'" v-bind:data-parent="e.parent" v-bind:data-index="e.index">
                  {{ e.name }}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="task_content">
        <section class="progress_task_heading">{{ context.title }}</section>
        <section class="content">
          <p v-for="c in context.content" class="paragraph_segment">
            {{ c }}
          </p>
        </section>
      </section>
    </div>
  </section>
</section>
  <script src="js/progress.js"></script>
</body>
</html>
