<html>
<head>
  <title>Code Climb - Home</title>
  <meta charset="utf-8">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <link href="css/quiz.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=0.7 user-scalable=0;">
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <section id="quiz">
    <section class="codeclimb_header">
      <nav class='cc_header_pos'>
        <div class="return_component_mobile">
        </div>
        <div class="return_component">
          <a href="progress.html" class='link_max'>
          </a>
        </div>
        <div class="mid_link">
          <a href="/">CodeClimb</a>
        </div>
        <div class="end_link">
          <li class="navi_right_comp">
            <a href="climbs.html">
              <div class="challenges_ico"></div>
            </a>
          </li>
          <li class="navi_right_comp">
            <a href="profile.html">
              <div class="profile_ico"></div>
            </a>
          </li>
        </div>
      </nav>
    </section>
    <section class="quiz_container">
      <div class="results_component" v-if="current_question_index >= quiz.questions.length">
        <h1>You Scored</h1>
        <div>{{ correct_answers + "/" + quiz.questions.length }}</div>
        <div class="motivate">
          <h1>{{ (correct_answers/quiz.questions.length) < 0.5 ? "Keep on trying!" : "You're doing great!" }}</h1>
        </div>
        <div>
          <a href="progress.html" v-if="current_question_index >= quiz.questions.length">
          <button class="button_unselect letter_correct">
            Next
          </button>
          </a>
        </div>
      </div>
      <section class="quiz_question">
        <div class="question_number" v-if="current_question_index < quiz.questions.length">{{ ((current_question_index+1) + "/" + quiz.questions.length) }}</div>
        <div class="question_text" v-if="current_question_index < quiz.questions.length">
          <p class="question_paragraph">{{ current_question.text }}</p>
        </div>
        <div class="explanation_comp" v-if="goNext">
          <div class="quiz_explanation" v-if="goNext">
            <div>Explanation:</div>
            <div class="explanation">{{quiz.explanations[current_question_index]}}</div>
          </div>
        </div>
      </section>
      <section class="answer_select_container" v-if="current_question_index < quiz.questions.length">
        <section class="quiz_question_mobile">
          <div class="question_number">{{ ((current_question_index+1) + "/" + quiz.questions.length) }}</div>
          <div class="question_text">
            <p class="question_paragraph">{{ current_question.text }}</p>
          </div>
        </section>
        <ul class="answer_ul">
          <li class="answer_li" v-for="a in current_answers" v-on:click="selectOption">
            <div class="answer_li_text" v-bind:data-index="a.index" >{{ a.text }}</div>
            <div class="answer_li_letter" v-bind:data-index="a.index" v-bind:class="{ letter_confirm: a.lockedIn,
              letter_correct: (goNext && toConfirm) && (answer === a.index),
              letter_incorrect: (goNext && toConfirm) && (answer !== a.index) && (current_selected === a.index) }">{{ a.letter }}</div>
          </li>
        </ul>
        <div class="quiz_explanation_mobile" v-bind:class="{ mob_visibility: goNext }">
          <div class="explanation">{{quiz.explanations[current_question_index]}}</div>
        </div>
        <div class="quiz_button_position">
          <button v-if="current_question_index < quiz.questions.length" class="button_unselect" v-bind:class="{ button_unselect: !toConfirm, button_confirm: toConfirm, next_button: goNext }"
          v-on:click="lockIn">{{  !goNext ? (toConfirm  ? "Lock It In!" : "Pass...") : "Next"  }}</button>
        </div>
      </section>
    </section>
  </section>
  <script src="js/quiz.js"></script>
</body>
</html>
