<html>
<head>
  <title>Codeclimb - Editor</title>
  <meta charset="utf-8">
  <link rel="Stylesheet" type="text/css" href="css/main.css">
  <link rel="Stylesheet" type="text/css" href="css/editor.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <section class="codeclimb_header">
    <div class="return_component">Back</div>
    <nav class="navi_right">
      <li>
        <a href="challenges">
          T
        </a>
      </li>
      <li>
        <a href="profile">
          P
        </a>
      </li>
    </nav>
  </section>
  <div class="codeclimb_editor" id="cc_editor">
    <div class="editor_first_section">
      <section class='file_viewer'>
        <div class="file">
          <div class="file_segment">
            <div class="file_icon">IC</div>
            <div class="file_name">test_folder</div>
          </div>
          <div class="child_files">
            <div class="file">
              <div class="file_segment" v-bind:onclick="openFile">
                <div class="file_icon">IC</div>
                <div class="file_name">test_child</div>
              </div>
              <div class="child_files">
                <div class="file_segment">
                  <div class="file_icon">IC</div>
                  <div class="file_name">test_sub_child</div>
                </div>
              </div>
            </div>
            <div class="file">
              <div class="file_segment">
                <div class="file_icon">IC</div>
                <div class="file_name">test_child</div>
              </div>
              <div class="child_files">
              </div>
            </div>
          </div>
        </div>
        <div class="file">test_file</div>
      </section>
      <section class="file_buttons">

      </section>
    </div>

    <div class="editor_middle_section">
      <nav class="current_files_navigation">

      </nav>
      <section class="editor">
        <section class="code_editor"></section>
        <!--<section class="chat_messages"></section>-->
          <div class="line_count">
            <div v-for=""></div>
          </div>
          <!--<pre class="text_highlighter">
            <code class="javascript">
              function main() {
                console.log("Hello World!");

              }
            </code>
          </pre>-->
          <textarea class="text_editor"></textarea>

      </section>

      <!--<section class="commandline">
      </section>
      <section class="chatbox">
      </section>-->
    </div>

    <div class="editor_end_section">
      <section class="code_challenge_segment">
        <h1 class="code_challenge_heading">{{ challenge.heading }}</h1>
        <section class="challenge_content">
          {{ challenge.body }}
        </section>
        <section class="challenge_mark_button">
          <button class="button_success">Mark Solution</button>
        </section>
      </section>
    </div>
  </div>
  <!--<script>hljs.initHighlightingOnLoad();</script>-->
  <script src="js/editor.js"></script>
</body>
</html>
